# Python virtual environment
.venv/
env/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# System logs
*.log
analysis.log

# Zip archives
*.zip
